<ion-header no-border>
    <ion-toolbar color="header">
        <ion-buttons slot="start">
            <ion-button color="light" (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title color="light" text-capitalize>{{ titulo }}</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>

    <div class="img">
        <img src="/assets/nuevo.png">
    </div>

    <br>
    <div class="regis">
        <form [formGroup]="forma" (ngSubmit)="actualizar(forma)">

            <ion-item>
                <br>
                <ion-label position="floating">Ingrese su cédula</ion-label>
                <ion-input type="number" formControlName="cc"></ion-input>
                <br>
            </ion-item>

            <div class="validation-errors">
                <ng-container *ngIf="ccForm.invalid && (ccForm.dirty || ccForm.touched)">
                    <div class="error-message" *ngIf="ccForm.errors.required">La cédula es requerida</div>
                    <div class="error-message" *ngIf="ccForm.errors.maxlength">Debe contener máximo 10 números</div>
                    <div class="error-message" *ngIf="ccForm.errors.minlength">Debe contener mínimo 8 números</div>
                </ng-container>
            </div>

            <ion-item>
                <ion-label position="floating">Ingrese su nombre</ion-label>
                <ion-input type="text" formControlName="nombre"></ion-input>
                <br>
            </ion-item>


            <div class="validation-errors">
                <ng-container *ngIf="nombreForm.invalid && (nombreForm.dirty || nombreForm.touched)">
                    <div class="error-message" *ngIf="nombreForm.errors.pattern">Solo se permiten letras</div>
                    <div class="error-message" *ngIf="nombreForm.errors.required">El nombre es requerido</div>
                    <div class="error-message" *ngIf="nombreForm.errors.maxlength">Debe contener máximo 30 caracteres</div>

                </ng-container>
            </div>

            <ion-item>
                <ion-label position="floating">Ingrese sus apellidos</ion-label>
                <ion-input type="text" formControlName="apellidos"></ion-input>
                <br>
            </ion-item>


            <div class="validation-errors">
                <ng-container *ngIf="apellidoForm.invalid && (apellidoForm.dirty || apellidoForm.touched)">
                    <div class="error-message" *ngIf="apellidoForm.errors.pattern">Solo se permiten letras</div>
                    <div class="error-message" *ngIf="apellidoForm.errors.required">El apellido es requerido</div>
                    <div class="error-message" *ngIf="apellidoForm.errors.maxlength">Debe contener máximo 30 caracteres</div>

                </ng-container>
            </div>

            <ion-item>
                <ion-label position="floating">Ingrese su genero</ion-label>
                <ion-input type="text" formControlName="genero"></ion-input>
                <br>
            </ion-item>

            <div class="validation-errors">
                <ng-container *ngIf="generoForm.invalid && (generoForm.dirty || generoForm.touched)">
                    <div class="error-message" *ngIf="generoForm.errors.required">El género es requerido</div>
                </ng-container>
            </div>

            <ion-item>
                <ion-input type="date" formControlName="fechaNacimiento"></ion-input>
            </ion-item>


            <div class="validation-errors">
                <ng-container *ngIf="fechaNForm.invalid && (fechaNForm.dirty || fechaNForm.touched)">
                    <div class="error-message" *ngIf="fechaNForm.errors.error">Por favor verifique la fecha</div>
                </ng-container>
            </div>

            <ion-item>
                <ion-label position="floating">Número de tarjeta</ion-label>
                <ion-input type="text" formControlName="tarjeta"></ion-input>
                <br>
            </ion-item>
            <br>


            <ion-button expand="block" fill="outline" class="btnreg" color="header" type="submit" class="btn">Actualizar</ion-button>
        </form>



    </div>

</ion-content>