<ion-content padding>

    <div>
        <img class="img" src="/assets/info.png">
    </div>

    <ion-card style="margin-top: 20%">
        <ion-card-header>
            <ion-card-title>Información del paciente</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-badge color="header">Paciente</ion-badge>
            <ion-list *ngIf="paciente">
                <ion-item>
                    <ion-label>{{ paciente.nombre }}</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>{{ paciente.apellidos }}</ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <div style="margin-top: 5%">
        <div class="row">
            <div class="col">
                <ion-button expand="block" fill="outline" color="header" (click)="regFamiliar()">
                    Registrar Familiar
                </ion-button>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <ion-button size="default" fill="outline" color="header" (click)="actualizar()">
                    ACtualizar
                </ion-button>

                <ion-button size="default" fill="outline" color="header" (click)="calendario()" slot="end">
                    Calendario
                </ion-button>
            </div>
        </div>

    </div>
</ion-content>